# CS 416 - Intro to Deep Learning
## Assignment 1

---

**Name** : Syed Muhammad Ashhar Shah

**Reg No** : 2020478

# Task 2

## Importing the required libraries.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

2023-10-15 11:47:42.972878: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-15 11:47:43.061486: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-10-15 11:47:43.061558: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-10-15 11:47:43.061632: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-10-15 11:47:43.075853: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-15 11:47:44.710847: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Getting the dataset from the URL

In [2]:
dataset = "./train.csv"

In [3]:
df = pd.read_csv(dataset)

In [4]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Selecting Specific Columns
Only using those columns that contain numerical values to make predictions using the linear regression algorithm.

In [5]:
data = df[["MSSubClass", "LotFrontage", "LotArea", "YrSold", "SalePrice"]]

In [6]:
data.head(5)

   MSSubClass  LotFrontage  LotArea  YrSold  SalePrice
0          60         65.0     8450    2008     208500
1          20         80.0     9600    2007     181500
2          60         68.0    11250    2008     223500
3          70         60.0     9550    2006     140000
4          60         84.0    14260    2008     250000

In [7]:
data = data.dropna()

In [8]:
data.dropna()

      MSSubClass  LotFrontage  LotArea  YrSold  SalePrice
0             60         65.0     8450    2008     208500
1             20         80.0     9600    2007     181500
2             60         68.0    11250    2008     223500
3             70         60.0     9550    2006     140000
4             60         84.0    14260    2008     250000
...          ...          ...      ...     ...        ...
1254          60         60.0     6931    2008     165400
1255          50         52.0     6240    2007     127500
1256          20         91.0    14303    2008     301500
1257          30         56.0     4060    2009      99900
1258          80         59.0     9587    2008     190000

[1041 rows x 5 columns]

## Converting the dataset to numpy array

In [9]:
dataset_array = np.array(data, dtype=float)
print("Dataset Array Shape: " + str(dataset_array.shape))


X = []
y = []

for row in dataset_array:
  X.append(row[:4])
  y.append(row[4])


X = np.array(X)
y = np.array(y)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

print("X Shape: " + str(X.shape))
print("y Shape: " + str(y.shape))

Dataset Array Shape: (1041, 5)
X Shape: (1041, 4)
y Shape: (1041,)

## Function For Forward Propogation

In [10]:
def forward_prop(w, x):
  y = []
  for row in x:
    y.append(w[0] + row[0]*w[1] + row[1]*w[2] + row[2]*w[3] + row[3]*w[4])

  y = np.array(y)
  return y

## Function For Backward Propogation

In [11]:
def back_prop(w, y, y_hat, X, alpha):
  # get the total number of rows
  n = y.shape[0]
  # create an error against each weight value
  dldw = np.zeros(*w.shape)

  for predict, actual, x in zip(y,y_hat,X):
    error = actual - predict
    dldw[0] = dldw[0] + ((error))
    dldw[1] = dldw[1] + ((error) * x[0])
    dldw[2] = dldw[2] + ((error) * x[1])
    dldw[3] = dldw[3] + ((error) * x[2])
    dldw[4] = dldw[4] + ((error) * x[3])

  w[0] = w[0] + (dldw[0] * alpha)/n
  w[1] = w[1] + (dldw[1] * alpha)/n
  w[2] = w[2] + (dldw[2] * alpha)/n
  w[3] = w[3] + (dldw[3] * alpha)/n
  w[4] = w[4] + (dldw[4] * alpha)/n

  return w

## Getting the testing dataset

In [12]:
test_dataset = './test.csv'
test_df = pd.read_csv(test_dataset)

In [13]:
test_df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1260,20,RL,65.0,9750,Pave,NaN,Reg,Lvl,AllPub,...,80,0,NaN,NaN,NaN,0,7,2008,WD,Normal
1,1261,60,RL,NaN,24682,Pave,NaN,IR3,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
2,1262,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
3,1263,50,RL,NaN,11250,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
4,1264,70,RL,60.0,13515,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal

In [14]:
test_data = test_df[["MSSubClass", "LotFrontage", "LotArea", "YrSold"]]

In [15]:
test_data.head(5)

   MSSubClass  LotFrontage  LotArea  YrSold
0          20         65.0     9750    2008
1          60          NaN    24682    2009
2          20         80.0     9600    2009
3          50          NaN    11250    2009
4          70         60.0    13515    2007

In [16]:
test_data = test_data.dropna()

### Converting to Numpy Arrays

In [17]:
test_dataset_array = np.array(test_data, dtype=float)
print("Dataset Array Shape: " + str(test_dataset_array.shape))


test_X = []

for row in test_dataset_array:
  test_X.append(row[:4])


test_X = np.array(test_X)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
test_X = scaler.fit_transform(test_X)

print("Test X Shape: " + str(test_X.shape))

Dataset Array Shape: (160, 4)
Test X Shape: (160, 4)

## Cost Function

In [18]:
def cost(y, y_hat):
  n = y.shape[0]

  sum = 0

  for predict, actual in zip(y, y_hat):
    sum = sum + (predict - actual)**2

  j = sum / (2 * n)

  return j

## Carrying out the learning ( **Batch Gradient Descent** )

### Initialize random weights

In [19]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.09096607 0.68308742 0.7077221  0.84144394 0.9927101 ]

### Perfoming Forward and Backward Propgations

In [20]:
costs = []

costs.append(cost(weights, y))

for epoch in range(1000):
  hx = forward_prop(weights, X)
  c = cost(hx, y)
  if epoch % 100 == 0:
    print("Cost: " +str(c))

  costs.append(c)
  weights = back_prop(weights, hx, y, X, 0.01)

Cost: 20129991317.86173

Cost: 5248402300.176957
Cost: 3282386405.1507697
Cost: 3015586046.7726192
Cost: 2978353744.2379723
Cost: 2972869327.309001
Cost: 2971969607.0789614
Cost: 2971793536.7715693
Cost: 2971751079.987927
Cost: 2971738944.9427547

### Final Weights For Our Params

In [21]:
weights

array([181645.07808974,   6679.9333452 ,  28268.75947672,  16899.11756272,
        -3056.93204568])

### Making Predictions

In [22]:
batch_predict = forward_prop(weights, test_X)

In [23]:
batch_predict

array([171384.44900841, 183395.39532501, 187839.29851472, 139097.03542991,
       149827.48000565, 196054.32201216, 200889.411119  , 195892.72632896,
       243967.59239432, 153220.39220811, 218772.19526938, 186540.23191969,
       159714.88054222, 171241.7301921 , 156060.54983785, 162293.72345556,
       205052.95729469, 156347.60659842, 147630.56045144, 147562.73084428,
       206740.10510997, 122992.90836577, 162358.17652706, 196076.53359656,
       166265.34752844, 176787.67728158, 182958.37572324, 152726.34869939,
       585115.81020725, 169843.65450256, 209782.01548318, 180608.47183547,
       145752.65980173, 221732.48616467, 166187.17977868, 159108.8846659 ,
       212603.61795214, 224666.88221678, 173788.41073896, 230450.04147153,
       164035.09780484, 201217.69551984, 166606.11127641, 154678.49977945,
       184908.1777799 , 169933.62590717, 215592.11923975, 142524.08789429,
       184215.65547206, 129853.08951653, 163553.55682333, 156942.07135198,
       173175.1458764 , 178133.82094155, 194090.82464058, 178476.77011884,
       168426.27923754, 167946.38124367, 128023.34887221, 183546.60106908,
       202273.62909376, 246991.07710233, 222802.16750622, 229459.80834488,
       174182.43731268, 184297.86537146, 159225.11352875, 203587.05452798,
       149119.61244775, 218003.04344932, 150727.47366849, 211170.88129703,
       180940.36617641, 147630.56045144, 177615.85736169, 222912.89890144,
       260013.42925268, 165597.49235979, 246491.99958187, 183912.86150466,
       143232.6804664 , 178768.16005244, 152491.37601869, 152775.60944319,
       185147.41776333, 194921.02587633, 191947.27932476, 199856.84382322,
       201020.8551121 , 149684.53651368, 172577.91818874, 130672.54310279,
       188446.29929319, 144038.48741087, 171026.69683029, 166717.18354863,
       133807.44430669, 217857.10061137, 169653.52909562, 162034.25134857,
       162032.75959455, 178904.55769854, 177443.43317572, 183132.58406272,
       195826.03634003, 162303.42125397, 211260.57144075, 156626.42056277,
       161092.32986927, 149130.96725217, 149915.2442429 , 167533.92246558,
       165934.47816977, 174587.37884045, 177653.79001289, 148270.60994595,
       180080.73673335, 163520.98370037, 191504.99624689, 197100.74730771,
       188015.86870494, 167252.96104251, 195477.27671779, 185010.29068551,
       152242.91646616, 192889.69079304, 175632.98121929, 212593.55068372,
       153158.63785834, 143180.92797848, 189070.1118985 , 196888.4038463 ,
       174656.96216827, 155727.33049118, 214031.75123967, 173468.19543854,
       206622.33125454, 213837.54277415, 182051.14125882, 166484.63085875,
       210013.1923354 , 184311.65915886, 200125.23800583, 198222.03018854,
       198715.27545691, 167922.42288612, 184514.01914662, 195335.04003373,
       189305.66167563, 132482.73043923, 172696.36782899, 180406.67818307,
       152726.34869939, 223116.96131104, 159345.65726579, 171336.7119275 ,
       196838.33801455, 173358.08021203, 169665.13510244, 181782.79005141])

## Carrying out the learning ( **Mini-Batch Gradient Descent** )

### Initialize Random Weights

In [24]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.16191571 0.16246986 0.4826512  0.48869728 0.71524603]

### Initialize Batches

In [25]:
batchSize = 300

batches_X = []
batches_y = []

for i in range(X.shape[0] // batchSize):
    batches_X.append(X[300*i : 300*(i+1)])
    batches_y.append(y[300*i : 300*(i+1)])

batches_X = np.array(batches_X)
batches_y = np.array(batches_y)


print("Shape Of Batches X: " + str(batches_X.shape))
print("Shape Of Batches y: " + str(batches_y.shape))

Shape Of Batches X: (3, 300, 4)
Shape Of Batches y: (3, 300)

### Perform Forward and Backward Propogations

In [26]:
costs = []

costs.append(cost(weights, y))

# interate over the whole dataset
for epoch in range(1000):
  # for every batch perform forward and backward propogation
  for batchx,batchy in zip(batches_X,batches_y):
    # forward propogation
    hx = forward_prop(weights, batchx)
    # backward propogation
    weights = back_prop(weights, hx, batchy, batchx, 0.01)
  

  # get cost against each epoch after a batch completes
  c = cost(hx, y)
  # print cost per 100 epoch
  if epoch % 100 == 0:
    print("Cost: " +str(c))
  # append cost to list
  costs.append(c)

Cost: 20070104005.88807

Cost: 3834445177.286156
Cost: 3785250441.68632
Cost: 3790764019.2061677
Cost: 3792322582.8239884
Cost: 3792662916.5514297
Cost: 3792733908.9939256
Cost: 3792748569.046009
Cost: 3792751589.42354
Cost: 3792752211.380592

In [27]:
weights

array([182370.57703046,   5399.94873517,  27026.57774312,  15831.13296188,
        -3411.21361518])

### Making Predictions

In [28]:
mini_batch_predict = forward_prop(weights, test_X)

In [29]:
mini_batch_predict

array([173376.87580972, 184503.59812708, 188117.39134986, 140565.14912331,
       150663.58612675, 193439.8235249 , 200653.26936711, 196398.24186083,
       241303.32450721, 155949.35159733, 217362.51801189, 186973.04745091,
       160938.43408611, 172871.87538256, 159555.74040237, 164375.75826655,
       203263.86306353, 157594.62492288, 149837.64456317, 148200.26694905,
       206922.94679025, 124032.31509768, 163428.27869232, 196781.81676094,
       169304.95784587, 179351.64007019, 184503.36605193, 152983.68293335,
       564865.85293035, 171304.45711446, 209886.21898305, 182987.77107908,
       146789.48329321, 220948.02402933, 167026.67235277, 161373.2599162 ,
       212653.77656385, 223136.33299057, 176094.88341979, 227914.34100389,
       166806.48576216, 200912.26880707, 168415.61328985, 155817.21112492,
       186644.44458545, 171703.24193177, 213976.4707111 , 145449.45928041,
       185995.68806348, 133799.06816244, 166346.93098591, 159752.55303507,
       174366.38004128, 179689.03291491, 195436.10873451, 179463.26709574,
       170234.35432598, 170286.39889691, 128801.64527159, 184645.24802271,
       201345.98238711, 246492.07856148, 222140.32964191, 229641.71115003,
       176501.87624532, 185493.12844474, 160831.9864011 , 203541.05879476,
       152446.4999741 , 217988.60261869, 152752.43885626, 209347.51581744,
       181632.41057255, 149837.64456317, 177632.3755346 , 221981.03021437,
       258434.81999861, 166701.6411407 , 244445.73671869, 184883.02179018,
       144390.89293516, 179559.61497444, 153272.73358048, 154803.8570796 ,
       185740.88061667, 194523.29421729, 192856.71996497, 199637.41974642,
       202003.91314595, 152604.42105848, 173397.72683034, 132454.12166623,
       188325.2178453 , 146364.3138681 , 172776.47557827, 167907.37687582,
       136289.6089941 , 217223.770824  , 171476.49009533, 163772.9400193 ,
       164337.33535571, 181334.73860897, 177259.28183081, 183972.0927177 ,
       192816.79605929, 163483.02777739, 210786.42914424, 158706.68895634,
       162638.00075849, 151262.16307625, 152387.11060932, 168921.75143656,
       169070.73426929, 176483.61444193, 179380.32219619, 149348.31427863,
       179923.47605224, 164108.43026648, 191074.96710997, 196532.72973315,
       188238.71314911, 167618.1541212 , 195973.40417738, 185529.30706687,
       152792.94875477, 189247.68283978, 177470.51416962, 212482.20394482,
       153279.497597  , 144447.75095059, 190228.85483319, 196780.84260042,
       175754.54901843, 157598.45803099, 213261.49648941, 175445.64865458,
       206126.81546646, 214249.37998337, 183653.46667817, 169101.21407132,
       210151.32415692, 185142.12635898, 200203.35144057, 197794.53398615,
       198158.82691122, 170504.94272513, 184894.92323846, 195715.88274709,
       190075.99301763, 133754.33922432, 172717.55036378, 181665.89309259,
       152983.68293335, 223131.70006563, 161632.93685027, 172893.3824348 ,
       196782.47896842, 173437.44876877, 171004.6823964 , 183307.40511962])

## Carrying out the learning ( **Schotatic Gradient Descent** )

### Initialize Random Weights

In [30]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.57300589 0.89212504 0.35682841 0.62550921 0.07865025]

### Perform Forward and Backward Propogations

In [31]:
costs = []

# interate over the whole dataset
for epoch in range(100):
  # for every row in data perform forward and backward propogation
  for rowx,rowy in zip(X,y):
    
    # convert to seperate array objects so it can be used by above coded functions
    tempx = []
    tempy = []
    tempx.append(rowx)
    tempy.append(rowy)
    tempx = np.array(tempx)
    tempy = np.array(tempy)

    # perform forward propogation
    hx = forward_prop(weights, tempx)

    # get the cost
    c = cost(hx, y)
    costs.append(c)

    # perform backward propogation
    weights = back_prop(weights, hx, tempy, tempx, 0.01)

In [32]:
for cost in costs[0:100]:
    print("Cost : " + str(cost))

Cost : 21736030678.766148
Cost : 21404802880.598644
Cost : 20998669834.90672
Cost : 20451589366.34598
Cost : 20377301316.87767
Cost : 19822907505.54893
Cost : 19165220331.31761
Cost : 19399802420.350586
Cost : 21257551150.20871
Cost : 18477155785.906013
Cost : 17647736788.827824
Cost : 16356659068.92601
Cost : 17003081829.991621
Cost : 15245942759.691698
Cost : 16667070899.380657
Cost : 17595707779.1655
Cost : 13592511449.313107
Cost : 15293642116.97331
Cost : 15030503474.07896
Cost : 17593242845.852127
Cost : 14464218003.38086
Cost : 17864875657.716145
Cost : 13987056413.843214
Cost : 13286238788.342022
Cost : 13916023247.465034
Cost : 16319921097.235405
Cost : 11226518268.00881
Cost : 13507128709.98234
Cost : 17586573915.16599
Cost : 9224940187.01376
Cost : 8864692703.006056
Cost : 12028072817.202677
Cost : 13203690504.233622
Cost : 14782357296.090425
Cost : 8312523744.127803
Cost : 5701267061.773577
Cost : 8962253275.180216
Cost : 19205590213.416492
Cost : 13854211165.810791
Cost : 8564363973.7345
Cost : 21902624706.801548
Cost : 10064253933.396366
Cost : 11624643812.722979
Cost : 9123934552.8607
Cost : 7249495758.182863
Cost : 11941136245.26166
Cost : 6849137520.943658
Cost : 22772573961.163376
Cost : 7171383572.053748
Cost : 7556336704.228727
Cost : 9902390389.848087
Cost : 5889819772.586361
Cost : 9529162078.955687
Cost : 11678743784.047352
Cost : 12869554249.324034
Cost : 7402208480.810006
Cost : 6480402122.543951
Cost : 13623212337.734259
Cost : 4195028890.404435
Cost : 4434306442.032095
Cost : 6474430112.733799
Cost : 9208043341.85689
Cost : 8924374923.518637
Cost : 12174608314.16765
Cost : 18587466129.270615
Cost : 8554509383.270745
Cost : 9943613159.778412
Cost : 8469912066.980339
Cost : 6234810157.486536
Cost : 9516879885.080244
Cost : 6244927124.651427
Cost : 5301316160.445713
Cost : 2437259363.3309975
Cost : 4632817778.364539
Cost : 13554834923.15065
Cost : 5808309072.881356
Cost : 6280566764.250396
Cost : 5505893365.970116
Cost : 4117730645.3670373
Cost : 5919252057.76129
Cost : 7622607099.059019
Cost : 5634966922.476921
Cost : 4001995060.910226
Cost : 4636358998.000183
Cost : 7199558157.562499
Cost : 7961020544.430398
Cost : 7965321421.145091
Cost : 8061406457.725255
Cost : 6002479962.129247
Cost : 5634944515.64525
Cost : 5203768211.011204
Cost : 7482148175.273961
Cost : 4461023296.467654
Cost : 4351843419.636008
Cost : 4265385579.297581
Cost : 4574490057.648998
Cost : 5775629728.87392
Cost : 8935282226.811138
Cost : 4278121032.3920555
Cost : 5012765266.750822

In [33]:
weights

array([179787.35505937,   5115.95408968,  32434.24401099,  32882.72344207,
        -2306.61355325])

### Making Predictions

In [34]:
schotatic_predict = forward_prop(weights, test_X)

In [35]:
schotatic_predict

array([171064.28010656, 185380.30031005, 195199.88250877, 114404.29006675,
       121786.09466806, 189377.06126898, 215076.1576617 , 200372.84674888,
       255072.14009928, 136968.05776417, 224275.90555449, 185434.26660285,
       152274.3735746 , 171938.00856046, 147580.15148557, 159237.49853352,
       206530.84192009, 153573.48836231, 133889.9607491 , 128887.98904247,
       210659.95360015,  88727.50072547, 151061.44595775, 196191.5029858 ,
       159585.66053753, 172209.03137771, 181808.25437442, 123792.14910785,
       774133.02723348, 165658.2882465 , 211868.2343662 , 177288.25642684,
       116212.58018835, 237994.0929836 , 150681.86606598, 153825.48399186,
       223790.22391857, 252706.58832709, 170664.91427356, 250409.33854289,
       157967.6674521 , 206142.80027174, 167628.65005735, 131794.79650305,
       186806.16551784, 167037.29463034, 222283.54778666, 127588.29578168,
       185458.63837972, 108062.30974748, 147362.11461799, 146887.56240993,
       173022.328143  , 173054.98656563, 196822.74805153, 176368.66138362,
       166459.63403824, 157404.70317617,  96160.48496782, 185674.5202092 ,
       201175.25945891, 241829.94160405, 234847.79807976, 235443.57353827,
       169861.37294238, 195406.40295969, 150955.06247672, 208031.47566438,
       134978.66692857, 237070.74622962, 133559.69282971, 218068.94041518,
       178463.52860866, 133889.9607491 , 190247.03577219, 225932.7574398 ,
       287829.45315264, 161709.02117787, 273609.78592307, 179170.42959647,
       112879.38973745, 175807.0439258 , 122258.82568623, 153645.21005324,
       175486.23435945, 194181.56751549, 190512.0693424 , 203494.82117936,
       207166.87769275, 137229.34451051, 174581.90996842,  95505.67812221,
       187078.75157317, 137182.35446969, 159763.82149494, 163177.94667727,
       117565.5199375 , 237002.42419074, 163448.19626467, 173649.96765617,
       148619.51334739, 176328.10996584, 172854.45719881, 174312.78862725,
       191654.53964833, 139199.13198534, 220607.42374392, 141531.20413409,
       152232.9664288 , 136024.36561421, 135613.87299822, 158657.92902368,
       155801.35062145, 187136.92269027, 176293.62070175, 124403.21940649,
       174969.2270756 , 156045.7474093 , 217863.42518305, 205564.36644979,
       188918.97778821, 156951.20306636, 202608.53357845, 192910.95131272,
       129358.44644491, 191384.29006093, 174620.43566784, 218909.23755941,
       132291.71419288, 119995.45774041, 193700.62269816, 200859.25289594,
       175905.6831547 , 148149.93586091, 245261.44462586, 174505.50534725,
       210378.28279357, 236450.34132519, 180042.93497951, 162734.02981837,
       221890.20538303, 182033.63138414, 205221.00704421, 203207.18606145,
       203995.21136784, 163176.34925686, 178152.25366461, 195900.12063906,
       193836.56461567,  95393.3492881 , 167543.11943584, 181135.02817177,
       123792.14910785, 246655.22459433, 152715.95396556, 163335.80906029,
       210333.97490034, 170476.27044326, 170806.78890489, 183446.39062943])