# CS 416 - Intro to Deep Learning
## Assignment 1

---

**Name** : Syed Muhammad Ashhar Shah

**Reg No** : 2020478

# Task 2

## Importing the required libraries.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

2023-10-15 12:11:01.943339: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-15 12:11:01.997662: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-10-15 12:11:01.997717: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-10-15 12:11:01.997762: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-10-15 12:11:02.008369: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-10-15 12:11:03.237580: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Getting the dataset from the URL

In [2]:
dataset = "./train.csv"

In [3]:
df = pd.read_csv(dataset)

In [4]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Selecting Specific Columns
Only using those columns that contain numerical values to make predictions using the linear regression algorithm.

In [5]:
data = df[["MSSubClass", "LotFrontage", "LotArea", "YrSold", "SalePrice"]]

In [6]:
data.head(5)

   MSSubClass  LotFrontage  LotArea  YrSold  SalePrice
0          60         65.0     8450    2008     208500
1          20         80.0     9600    2007     181500
2          60         68.0    11250    2008     223500
3          70         60.0     9550    2006     140000
4          60         84.0    14260    2008     250000

In [7]:
data = data.dropna()

In [8]:
data.dropna()

      MSSubClass  LotFrontage  LotArea  YrSold  SalePrice
0             60         65.0     8450    2008     208500
1             20         80.0     9600    2007     181500
2             60         68.0    11250    2008     223500
3             70         60.0     9550    2006     140000
4             60         84.0    14260    2008     250000
...          ...          ...      ...     ...        ...
1254          60         60.0     6931    2008     165400
1255          50         52.0     6240    2007     127500
1256          20         91.0    14303    2008     301500
1257          30         56.0     4060    2009      99900
1258          80         59.0     9587    2008     190000

[1041 rows x 5 columns]

## Converting the dataset to numpy array

In [9]:
dataset_array = np.array(data, dtype=float)
print("Dataset Array Shape: " + str(dataset_array.shape))


X = []
y = []

for row in dataset_array:
  X.append(row[:4])
  y.append(row[4])


X = np.array(X)
y = np.array(y)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

print("X Shape: " + str(X.shape))
print("y Shape: " + str(y.shape))

Dataset Array Shape: (1041, 5)
X Shape: (1041, 4)
y Shape: (1041,)

## Function For Forward Propogation

In [10]:
def forward_prop(w, x):
  y = []
  for row in x:
    y.append(w[0] + row[0]*w[1] + row[1]*w[2] + row[2]*w[3] + row[3]*w[4])

  y = np.array(y)
  return y

## Function For Backward Propogation

In [11]:
def back_prop(w, y, y_hat, X, alpha):
  # get the total number of rows
  n = y.shape[0]
  # create an error against each weight value
  dldw = np.zeros(*w.shape)

  for predict, actual, x in zip(y,y_hat,X):
    error = actual - predict
    dldw[0] = dldw[0] + ((error))
    dldw[1] = dldw[1] + ((error) * x[0])
    dldw[2] = dldw[2] + ((error) * x[1])
    dldw[3] = dldw[3] + ((error) * x[2])
    dldw[4] = dldw[4] + ((error) * x[3])

  w[0] = w[0] + (dldw[0] * alpha)/n
  w[1] = w[1] + (dldw[1] * alpha)/n
  w[2] = w[2] + (dldw[2] * alpha)/n
  w[3] = w[3] + (dldw[3] * alpha)/n
  w[4] = w[4] + (dldw[4] * alpha)/n

  return w

## Getting the testing dataset

In [12]:
test_dataset = './test.csv'
test_df = pd.read_csv(test_dataset)

In [13]:
test_df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1260,20,RL,65.0,9750,Pave,NaN,Reg,Lvl,AllPub,...,80,0,NaN,NaN,NaN,0,7,2008,WD,Normal
1,1261,60,RL,NaN,24682,Pave,NaN,IR3,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
2,1262,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
3,1263,50,RL,NaN,11250,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
4,1264,70,RL,60.0,13515,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal

In [14]:
test_data = test_df[["MSSubClass", "LotFrontage", "LotArea", "YrSold"]]

In [15]:
test_data.head(5)

   MSSubClass  LotFrontage  LotArea  YrSold
0          20         65.0     9750    2008
1          60          NaN    24682    2009
2          20         80.0     9600    2009
3          50          NaN    11250    2009
4          70         60.0    13515    2007

In [16]:
test_data = test_data.dropna()

### Converting to Numpy Arrays

In [17]:
test_dataset_array = np.array(test_data, dtype=float)
print("Dataset Array Shape: " + str(test_dataset_array.shape))


test_X = []

for row in test_dataset_array:
  test_X.append(row[:4])


test_X = np.array(test_X)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
test_X = scaler.fit_transform(test_X)

print("Test X Shape: " + str(test_X.shape))

Dataset Array Shape: (160, 4)
Test X Shape: (160, 4)

## Cost Function

In [18]:
def cost(y, y_hat):
  n = y.shape[0]

  sum = 0

  for predict, actual in zip(y, y_hat):
    sum = sum + (predict - actual)**2

  j = sum / (2 * n)

  return j

## Carrying out the learning ( **Batch Gradient Descent** )

### Initialize random weights

In [19]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.99002241 0.35828378 0.93888335 0.48168903 0.41896512]

### Perfoming Forward and Backward Propgations

In [20]:
costs = []

costs.append(cost(weights, y))

for epoch in range(1000):
  hx = forward_prop(weights, X)
  c = cost(hx, y)
  costs.append(c)
  weights = back_prop(weights, hx, y, X, 0.01)

In [21]:
for x in costs[0:10]:
    print("Cost : " + str(x))

print("Final Cost: " + str(costs[-1]))

Cost : 20846544306.968895
Cost : 20129825872.30577
Cost : 19783446662.08977
Cost : 19444147047.026764
Cost : 19111779694.103622
Cost : 18786200418.672062
Cost : 18467268114.608067
Cost : 18154844686.098732
Cost : 17848794981.01659
Cost : 17548986725.84216
Final Cost: 2971735130.008926

### Final Weights For Our Params

In [22]:
weights

array([181645.07812855,   6679.93370607,  28268.760245  ,  16899.11700867,
        -3056.93210683])

### Making Predictions

In [23]:
batch_predict = forward_prop(weights, test_X)

In [24]:
batch_predict

array([171384.44856439, 183395.39525102, 187839.2980255 , 139097.03555364,
       149827.48061253, 196054.32285798, 200889.4108815 , 195892.72636961,
       243967.5938515 , 153220.39217377, 218772.19609704, 186540.23210318,
       159714.88034587, 171241.72975008, 156060.54925302, 162293.72295314,
       205052.95815137, 156347.60592287, 147630.56018228, 147562.73092362,
       206740.10552097, 122992.90866517, 162358.17663206, 196076.53388548,
       166265.34719865, 176787.67719642, 182958.37578417, 152726.34947862,
       585115.81135591, 169843.65445746, 209782.01614822, 180608.47180192,
       145752.66036532, 221732.48648469, 166187.1800809 , 159108.88420894,
       212603.61822036, 224666.8818483 , 173788.41051361, 230450.04191992,
       164035.09742757, 201217.69581172, 166606.1106326 , 154678.50027942,
       184908.17760271, 169933.62568492, 215592.12011631, 142524.08752516,
       184215.65531758, 129853.08909381, 163553.55718516, 156942.07108666,
       173175.14547996, 178133.82093432, 194090.82475194, 178476.76989607,
       168426.27888782, 167946.38125986, 128023.34918357, 183546.60099013,
       202273.62987005, 246991.07974297, 222802.16792127, 229459.80948088,
       174182.43719234, 184297.86456303, 159225.11329218, 203587.05486279,
       149119.61210358, 218003.04324839, 150727.47368579, 211170.88189685,
       180940.36624869, 147630.56018228, 177615.85634261, 222912.89999298,
       260013.42991762, 165597.49194854, 246492.00003351, 183912.86177697,
       143232.68099469, 178768.16007801, 152491.37689199, 152775.60836573,
       185147.4186226 , 194921.02634725, 191947.27957218, 199856.84415972,
       201020.8552321 , 149684.53614831, 172577.91769128, 130672.54351222,
       188446.29956366, 144038.48657667, 171026.69701289, 166717.18324332,
       133807.44378052, 217857.10030413, 169653.52893524, 162034.2497344 ,
       162032.75968402, 178904.55754398, 177443.43334833, 183132.58452065,
       195826.03707273, 162303.42197832, 211260.57170086, 156626.42056624,
       161092.32974837, 149130.96699278, 149915.24401944, 167533.92250571,
       165934.47808668, 174587.37746865, 177653.78971082, 148270.61035853,
       180080.73704745, 163520.98364663, 191504.99455774, 197100.74726021,
       188015.86888055, 167252.96125442, 195477.27671938, 185010.29013689,
       152242.91704063, 192889.6913808 , 175632.98098974, 212593.55113866,
       153158.6384001 , 143180.9281452 , 189070.11175906, 196888.40404429,
       174656.96172325, 155727.33015818, 214031.74987862, 173468.1948857 ,
       206622.33184092, 213837.5420639 , 182051.1413495 , 166484.63040118,
       210013.19245271, 184311.65952384, 200125.23815934, 198222.03035857,
       198715.27571024, 167922.42255829, 184514.01955658, 195335.04034428,
       189305.66146056, 132482.7310567 , 172696.36786243, 180406.67808914,
       152726.34947862, 223116.96088617, 159345.65691898, 171336.71196355,
       196838.33767403, 173358.08018955, 169665.13465047, 181782.78985608])

## Carrying out the learning ( **Mini-Batch Gradient Descent** )

### Initialize Random Weights

In [25]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.77877123 0.24461613 0.47640725 0.75648348 0.10223755]

### Initialize Batches

In [26]:
batchSize = 300

batches_X = []
batches_y = []

for i in range(X.shape[0] // batchSize):
    batches_X.append(X[300*i : 300*(i+1)])
    batches_y.append(y[300*i : 300*(i+1)])

batches_X = np.array(batches_X)
batches_y = np.array(batches_y)


print("Shape Of Batches X: " + str(batches_X.shape))
print("Shape Of Batches y: " + str(batches_y.shape))

Shape Of Batches X: (3, 300, 4)
Shape Of Batches y: (3, 300)

### Perform Forward and Backward Propogations

In [27]:
costs = []

# interate over the whole dataset
for epoch in range(1000):
  # for every batch perform forward and backward propogation
  for batchx,batchy in zip(batches_X,batches_y):
    # forward propogation
    hx = forward_prop(weights, batchx)
    # backward propogation
    weights = back_prop(weights, hx, batchy, batchx, 0.01)
  

  # get cost against each epoch after a batch completes
  c = cost(hx, y)
  costs.append(c)

In [28]:
for x in costs[0:10]:
    print("Cost : " + str(x))

print("Final Cost: " + str(costs[-1]))

Cost : 20070002912.804523
Cost : 19129708451.90954
Cost : 18244522686.228794
Cost : 17411164097.615616
Cost : 16626550375.86808
Cost : 15887785997.641592
Cost : 15192150610.179417
Cost : 14537088164.893816
Cost : 13920196749.839249
Cost : 13339219073.813112
Final Cost: 3792752338.9103174

In [29]:
weights

array([182370.57703046,   5399.94873517,  27026.57774312,  15831.13296188,
        -3411.21361518])

### Making Predictions

In [30]:
mini_batch_predict = forward_prop(weights, test_X)

In [31]:
mini_batch_predict

array([173376.87580972, 184503.59812708, 188117.39134986, 140565.14912331,
       150663.58612675, 193439.82352489, 200653.26936712, 196398.24186083,
       241303.3245072 , 155949.35159733, 217362.51801188, 186973.04745091,
       160938.43408611, 172871.87538256, 159555.74040238, 164375.75826656,
       203263.86306353, 157594.62492288, 149837.64456318, 148200.26694905,
       206922.94679025, 124032.31509768, 163428.27869232, 196781.81676094,
       169304.95784588, 179351.64007019, 184503.36605193, 152983.68293335,
       564865.85293034, 171304.45711446, 209886.21898305, 182987.77107908,
       146789.4832932 , 220948.02402933, 167026.67235277, 161373.2599162 ,
       212653.77656385, 223136.33299057, 176094.8834198 , 227914.34100389,
       166806.48576216, 200912.26880707, 168415.61328985, 155817.21112492,
       186644.44458545, 171703.24193177, 213976.47071109, 145449.45928041,
       185995.68806348, 133799.06816245, 166346.93098591, 159752.55303507,
       174366.38004128, 179689.03291491, 195436.10873451, 179463.26709574,
       170234.35432598, 170286.39889691, 128801.64527159, 184645.24802271,
       201345.9823871 , 246492.07856147, 222140.32964191, 229641.71115003,
       176501.87624532, 185493.12844474, 160831.9864011 , 203541.05879476,
       152446.4999741 , 217988.60261869, 152752.43885626, 209347.51581744,
       181632.41057255, 149837.64456318, 177632.3755346 , 221981.03021436,
       258434.81999861, 166701.6411407 , 244445.73671869, 184883.02179018,
       144390.89293516, 179559.61497444, 153272.73358048, 154803.85707961,
       185740.88061667, 194523.29421729, 192856.71996497, 199637.41974642,
       202003.91314595, 152604.42105848, 173397.72683034, 132454.12166623,
       188325.2178453 , 146364.31386811, 172776.47557827, 167907.37687583,
       136289.6089941 , 217223.770824  , 171476.49009533, 163772.94001931,
       164337.33535571, 181334.73860898, 177259.28183081, 183972.09271769,
       192816.79605928, 163483.02777739, 210786.42914424, 158706.68895635,
       162638.00075849, 151262.16307625, 152387.11060932, 168921.75143656,
       169070.73426929, 176483.61444194, 179380.32219619, 149348.31427863,
       179923.47605224, 164108.43026648, 191074.96710998, 196532.72973315,
       188238.71314911, 167618.1541212 , 195973.40417738, 185529.30706687,
       152792.94875477, 189247.68283978, 177470.51416962, 212482.20394482,
       153279.497597  , 144447.75095059, 190228.85483319, 196780.84260042,
       175754.54901843, 157598.45803099, 213261.49648941, 175445.64865459,
       206126.81546646, 214249.37998337, 183653.46667817, 169101.21407132,
       210151.32415692, 185142.12635898, 200203.35144057, 197794.53398615,
       198158.82691122, 170504.94272513, 184894.92323845, 195715.88274709,
       190075.99301763, 133754.33922432, 172717.55036378, 181665.89309259,
       152983.68293335, 223131.70006563, 161632.93685027, 172893.3824348 ,
       196782.47896842, 173437.44876877, 171004.6823964 , 183307.40511962])

## Carrying out the learning ( **Schotatic Gradient Descent** )

### Initialize Random Weights

In [32]:
weights = np.random.rand(X.shape[1] + 1)

print("Shape of weights: " + str(weights.shape))
print("Random Weights: " + str(weights))

Shape of weights: (5,)
Random Weights: [0.58035093 0.96795428 0.51883266 0.77690887 0.70493833]

### Perform Forward and Backward Propogations

In [33]:
costs = []

# interate over the whole dataset
for epoch in range(100):
  # for every row in data perform forward and backward propogation
  for rowx,rowy in zip(X,y):
    
    # convert to seperate array objects so it can be used by above coded functions
    tempx = []
    tempy = []
    tempx.append(rowx)
    tempy.append(rowy)
    tempx = np.array(tempx)
    tempy = np.array(tempy)

    # perform forward propogation
    hx = forward_prop(weights, tempx)

    # get the cost
    c = cost(hx, y)
    costs.append(c)

    # perform backward propogation
    weights = back_prop(weights, hx, tempy, tempx, 0.01)

In [34]:
for x in costs[0:10]:
    print("Cost : " + str(x))

print("Final Cost: " + str(costs[-1]))

Cost : 21736021551.515656
Cost : 21404880236.967426
Cost : 20998645534.88751
Cost : 20451769733.35812
Cost : 20377243000.01748
Cost : 19822761978.18093
Cost : 19165296167.799423
Cost : 19399822652.84359
Cost : 21257519772.57701
Cost : 18477143314.18593
Final Cost: 957710499.8922733

In [35]:
weights

array([179787.35505937,   5115.95408968,  32434.24401099,  32882.72344207,
        -2306.61355325])

### Making Predictions

In [36]:
schotatic_predict = forward_prop(weights, test_X)

In [37]:
schotatic_predict

array([171064.28010656, 185380.30031005, 195199.88250877, 114404.29006675,
       121786.09466806, 189377.06126898, 215076.1576617 , 200372.84674888,
       255072.14009928, 136968.05776417, 224275.90555449, 185434.26660285,
       152274.3735746 , 171938.00856046, 147580.15148557, 159237.49853352,
       206530.84192009, 153573.48836231, 133889.9607491 , 128887.98904247,
       210659.95360015,  88727.50072547, 151061.44595775, 196191.5029858 ,
       159585.66053753, 172209.03137771, 181808.25437442, 123792.14910785,
       774133.02723348, 165658.2882465 , 211868.2343662 , 177288.25642684,
       116212.58018835, 237994.0929836 , 150681.86606598, 153825.48399186,
       223790.22391857, 252706.58832709, 170664.91427356, 250409.33854289,
       157967.6674521 , 206142.80027174, 167628.65005735, 131794.79650305,
       186806.16551784, 167037.29463034, 222283.54778666, 127588.29578168,
       185458.63837972, 108062.30974748, 147362.11461799, 146887.56240993,
       173022.328143  , 173054.98656563, 196822.74805153, 176368.66138362,
       166459.63403824, 157404.70317617,  96160.48496782, 185674.5202092 ,
       201175.25945891, 241829.94160405, 234847.79807976, 235443.57353827,
       169861.37294238, 195406.40295969, 150955.06247672, 208031.47566438,
       134978.66692857, 237070.74622962, 133559.69282971, 218068.94041518,
       178463.52860866, 133889.9607491 , 190247.03577219, 225932.7574398 ,
       287829.45315264, 161709.02117787, 273609.78592307, 179170.42959647,
       112879.38973745, 175807.0439258 , 122258.82568623, 153645.21005324,
       175486.23435945, 194181.56751549, 190512.0693424 , 203494.82117936,
       207166.87769275, 137229.34451051, 174581.90996842,  95505.67812221,
       187078.75157317, 137182.35446969, 159763.82149494, 163177.94667727,
       117565.5199375 , 237002.42419074, 163448.19626467, 173649.96765617,
       148619.51334739, 176328.10996584, 172854.45719881, 174312.78862725,
       191654.53964833, 139199.13198534, 220607.42374392, 141531.20413409,
       152232.9664288 , 136024.36561421, 135613.87299822, 158657.92902368,
       155801.35062145, 187136.92269027, 176293.62070175, 124403.21940649,
       174969.2270756 , 156045.7474093 , 217863.42518305, 205564.36644979,
       188918.97778821, 156951.20306636, 202608.53357845, 192910.95131272,
       129358.44644491, 191384.29006093, 174620.43566784, 218909.23755941,
       132291.71419288, 119995.45774041, 193700.62269816, 200859.25289594,
       175905.6831547 , 148149.93586091, 245261.44462586, 174505.50534725,
       210378.28279357, 236450.34132519, 180042.93497951, 162734.02981837,
       221890.20538303, 182033.63138414, 205221.00704421, 203207.18606145,
       203995.21136784, 163176.34925686, 178152.25366461, 195900.12063906,
       193836.56461567,  95393.3492881 , 167543.11943584, 181135.02817177,
       123792.14910785, 246655.22459433, 152715.95396556, 163335.80906029,
       210333.97490034, 170476.27044326, 170806.78890489, 183446.39062943])